@use 'hero';
@use 'fatos';
@use 'selecao';
@use 'info';
@use 'footer';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    list-style: none;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px){
        max-width: 80%;
    }

    @media (max-width: 1024px){
        max-width: 90%;
    }
}